/* CSS for both mobile and web */
* {
  font-family: "Roboto";
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.header__logoTitle {
  display: flex;
}
.header {
  background-color: #011827;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__logoImg {
  height: 82px;
  width: 128px;
}
.content__button--red {
  background-color: #e3170a;
  border: none;
  border-radius: 0.2em;
  color: #ffffff;
  font-weight: bold;
}
.content__challengesTitle {
  text-align: center;
  font-weight: 400;
}
.content__challengesBox {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26);
  margin-left: 1em;
  margin-right: 1em;
  overflow: hidden;
  width: 20em;
}
.content__room {
  padding: 1em;
  padding-bottom: 0;
}
.content__roomTitle {
  font-weight: 100;
  margin: 0;
}
.content__challengesParticipants {
  font-size: 0.7em;
  margin: 0;
  margin-left: 0.8em;
  margin-top: 0.3em;
}
.content__challengesBoxImg {
  width: 100%;
}
.content__starsParticipants {
  display: flex;
  flex-direction: row;
}
.content__challengesText {
  display: flex;
  flex-direction: row;
}
.content__challengesBook {
  display: flex;
  justify-content: flex-end;
}
.content__challengesBookButton {
  margin: 1em;
  margin-top: 0;
  padding: 0.7em;
  width: 11em;
}
.content__playImg {
  width: 100%;
}
.content__story {
  background-color: #011827;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__storyText {
  color: #ffffff;
  text-align: center;
}
.content__storyButton {
  background-color: #011827;
  border: solid;
  border-color: #8acfe5;
  border-radius: 0.2em;
  border-width: 0.1em;
  color: #8acfe5;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0.2em;
  margin-bottom: 1.2em;
  margin-top: 1.5em;
  padding: 0.8em;
  width: 15em;
}
.content__playButton {
  font-size: 1em;
  margin: 0.2em;
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 0.7em;
  width: 12em;
}
.footer {
  background-color: #011827;
  color: #ffffff;
}
.footer__title {
  margin-bottom: 0.5em;
}
.footer__text {
  margin-block-start: 0;
}
.footer__siteMap,
.footer__socialMedia {
  display: flex;
  flex-direction: column;
}
.footer__link {
  color: #ffffff;
  text-decoration: none;
}
.footer__link--space {
  margin-bottom: 2em;
}
/* Media querie for moible and tablet */
@media only screen and (max-width: 1034px) {
  .header {
    height: 6.4em;
  }
  .header__title {
    font-size: 1em;
    max-width: 70px;
    margin-left: 0.5em;
    margin-top: 1.3em;
  }
  .header__logoImg {
    margin-left: 1em;
    margin-top: 1em;
  }
  .header__navigationLinks {
    display: none;
  }
  .content__hackerImgWeb {
    display: none;
  }
  .content__hackerImg {
    width: 100%;
  }
  .content__button,
  .content__buttonTwo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .content__buttonOnSiteChallenge,
  .content__buttonOnSiteChallengeTwo {
    background-color: #8acfe5;
    border: none;
    border-radius: 0.2em;
    color: #011827;
    font-size: 1em;
    font-weight: bold;
    margin: 0.2em;
    margin-bottom: 1.2em;
    margin-top: 1.5em;
    padding: 0.7em;
    width: 12em;
  }
  .content__buttonOnlineChallenge,
  .content__buttonOnlineChallengeTwo {
    background: none;
    color: #36769d;
    text-decoration: underline;
  }
  .content__quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
    margin-top: 3em;
    width: 100%;
  }
  .content__quoteTextEnd {
    display: flex;
    flex-direction: column;
    width: 17em;
  }
  .content__quoteImg {
    height: 4em;
    margin-right: 1em;
  }
  .content__quoteText {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 0.2em;
    margin-top: 0;
  }
  .content__quoteEnd {
    font-size: 0.8em;
    margin-top: 0;
  }
  .content__quoteSecond {
    display: none;
  }
  .content__challenges {
    margin-bottom: 1em;
    overflow-x: scroll;
  }
  .content__challengesBoxContainer {
    display: flex;
    margin-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  .content__story {
    margin-top: 3em;
    padding-bottom: 2em;
    padding-top: 3em;
  }
  .content__storyText {
    padding-left: 1em;
    padding-right: 1em;
  }
  .content__playContainer {
    margin-left: 1em;
    margin-right: 1em;
  }
  .content__playText {
    font-weight: 400;
  }
  .content__playImgWeb {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 2em;
  }
}
/* Media querie for web */
@media only screen and (min-width: 1035px) {
  .header {
    height: 12em;
  }
  .header__title {
    font-size: 2em;
    margin-left: 0.5em;
    margin-top: 2em;
  }
  .header__logoImg {
    height: 5.5em;
    margin-left: 1.5em;
    margin-top: 1.5em;
    width: 8em;
  }
  .header__navigationLinks {
    background-color: #011827;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    justify-content: center;
    margin-top: 2.1em;
  }
  .navigationLinks__link {
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 3em;
    margin-right: 3em;
    text-decoration: none;
  }
  .navigationLinks__link:hover {
    color: #8acfe5;
  }
  .content__hackerImg {
    display: none;
  }
  .content__hackerImgWeb {
    width: 100%;
  }
  .content__button,
  .content__buttonTwo {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }
  .content__buttonOnlineChallenge,
  .content__buttonOnlineChallengeTwo {
    font-size: 1.3em;
    padding: 0.8em;
    width: 13em;
  }
  .content__buttonOnlineChallenge,
  .content__buttonOnSiteChallenge {
    transform: translateY(-55%);
  }
  .content__buttonOnSiteChallenge,
  .content__buttonOnSiteChallengeTwo {
    background-color: #8acfe5;
    border: none;
    border-radius: 0.2em;
    color: #011827;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.8em;
    width: 13em;
  }
  .content__quotes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4em;
  }
  .content__quote,
  .content__quoteSecond {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
  }
  .content__quoteTextEnd {
    display: flex;
    flex-direction: column;
    width: 22.5em;
  }
  .content__quoteSecond {
    padding-left: 2em;
  }
  .content__quoteImg {
    height: 4.5em;
    padding-right: 0.8em;
  }
  .content__quoteText {
    font-style: italic;
    font-size: 1.3em;
    margin-bottom: 0.2em;
    margin-top: 0;
  }
  .content__quoteEnd {
    font-size: 0.8em;
    margin-top: 0.5em;
  }
  .content__challengesTitle {
    font-size: 2em;
    margin-bottom: 2em;
    margin-top: 2.5em;
  }
  .content__challengesBoxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4em;
  }
  .content__starsParticipants {
    display: flex;
    justify-content: space-between;
  }
  .content__story {
    margin-top: 4em;
    padding-bottom: 4.5em;
    padding-top: 4em;
  }
  .content__storyText {
    font-size: 1.5em;
    width: 22em;
  }
  .content__storyButton {
    font-size: 1em;
    width: 15em;
  }
  .content__playBook {
    display: flex;
    flex-direction: row;
  }
  .content__playChallenges {
    display: flex;
    flex-direction: row-reverse;
  }
  .content__playContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6em;
    padding-right: 6em;
    width: 50vw;
  }
  .content__playTitle {
    font-size: 1.7em;
    margin-bottom: 0.5em;
  }
  .content__playText {
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
  }
  .content__playImg {
    display: none;
  }
  .content__playImgWeb {
    width: 50%;
  }
  .footer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: 10em;
    padding-bottom: 10em;
    padding-left: 6em;
    padding-right: 8em;
    padding-top: 8em;
  }
  .footer__story {
    width: 50%;
  }
  .footer__siteMap {
    flex-shrink: 0;
    padding-left: 10em;
    width: 10em;
  }
  .footer__socialMedia {
    flex-shrink: 0;
    padding-left: 2em;
    width: 10em;
  }
}
