* {
  font-family: "Roboto";
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.header__logoTitle {
  display: flex;
}
.header {
  background-color: #011827;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
}
.header__logoImg {
  width: 128px;
  height: 82px;
}
.container__hackerImg {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .header {
    height: 6.4em;
  }
  .header__title {
    font-size: 1em;
    max-width: 70px;
    margin-top: 1.3em;
    margin-left: 0.5em;
  }
  .header__logoImg {
    margin-top: 1em;
    margin-left: 1em;
  }
  .header__navigationLinks {
    display: none;
  }
  .container__hackerImg {
    display: none;
  }
  .container__hackerImgMobile {
    width: 100%;
  }
  .container__button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .container__buttonOnSiteChallenge {
    background-color: #8acfe5;
    color: #011827;
    border: none;
    padding: 0.7em;
    margin: 0.2em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.2em;
    width: 12em;
    margin-top: 1.5em;
    margin-bottom: 1.2em;
  }
  .container__buttonOnlineChallenge {
    border: none;
    background: none;
    color: #36769d;
    font-weight: bold;
    text-decoration: underline;
  }
  .container__quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
  }
  .container__quoteTextEnd {
    display: flex;
    flex-direction: column;
    
    width: 17em;
  }
  .container__quoteImg{
    height: 5em;
    margin-left: -4em;
  }
  .container__quoteText {
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0.2em;
  }
  .container__quoteEnd {
    margin-top: 0;
    font-size: 0.8em;
    
  }
}
@media only screen and (min-width: 481px) {
  .header {
    height: 9.5em;
  }
  .header__title {
    font-size: 1.4em;
    margin-top: 2.3em;
    margin-left: 0.5em;
  }
  .header__logoImg {
    margin-top: 1em;
    margin-left: 1em;
  }
  .header__navigationLinks {
    background-color: #011827;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
    margin-top: 2.1em;
  }
  .navigationLinks__link {
    text-decoration: none;
    color: #ffffff;
    margin-left: 2em;
    margin-right: 2em;
  }
  .navigationLinks__link:hover {
    color: #8acfe5;
  }
  .container__hackerImgMobile {
    display: none;
  }
  .container__button {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
  }
  .container__buttonOnlineChallenge {
    border: none;
    background-color: #e3170a;
    border-radius: 0.2em;
    color: #ffffff;
    padding:0.8em;
    font-size: 1.3em;
    font-weight: bold;
    transform: translateY(-55%);
    width: 12em;
    
  }
  .container__buttonOnSiteChallenge {
    border: none;
    background-color: #8acfe5;
    border-radius: 0.2em;
    color: #011827;
    padding:0.8em;
    font-size: 1.3em;
    font-weight: bold;
    transform: translateY(-55%);
    width: 12em;
    
  }
}
